*.py[cod]
*.swp
**/__pycache__
.vscode
polytope.egg-info
.pytest_cache
*.prof
*.idx
*.grib
*.xml
site
.coverage
*.grib
*.gif
*.html
example_eo
example_mri
.mypy_cache
*.req
polytope_python.egg-info
new_test_venv_polytope
new_venv_polytope
polytope_venv
polytope_venv_latest
new_updated_numpy_venv
newest-polytope-venv
serializedTree
new_polytope_venv
*.json
venv_python3_11
*.txt
tests/data
venv_gj_iterator
*.so
rust_deployment_venv
*.lock
**/target
**/build
_version.py
*.DS_Store
rust_venv
test_w_qubed
*.nc
**/*venv*
performance_plots_qubed