*.py[cod]
*.swp
**/__pycache__
.vscode
polytope.egg-info
.pytest_cache
*.prof
*.idx
*.grib
*.xml
site
.coverage
*.grib
*.gif
*.html
example_eo
example_mri
.mypy_cache
*.req
polytope_python.egg-info
serializedTree
*.json
*.txt
tests/data
*.so
**/icon_grids
polytope_feature/_version.py
**/build
**.lock
**/target
rust_venv
**/*venv*/
test_w_qubed
performance_plots_qubed