*.py[cod]
*.swp
*.grib
*.gif
*.html
*.req
*.prof
*.idx
*.grib
*.xml
*.pstats
*.profile
*.egg-info
*.json
*.txt
*.gz

.coverage
.mypy_cache
.vscode
.pytest_cache

__pycache__/
.ipynb_checkpoints/

_version.py
target/
dist/
build/

Cargo.lock
.DS_Store

site
example_eo
example_mri
new_test_venv_polytope
new_venv_polytope
polytope_venv
polytope_venv_latest
new_updated_numpy_venv
newest-polytope-venv
serializedTree
new_polytope_venv
newest-polytope-venv
new_polytope_venv
polytope_feature/datacube/quadtree/target
venv_python3_11
venv_gj_iterator
*.json
venv_python3_11
*.txt
tests/data
venv_gj_iterator
new_venv_gj_iterator
target
rust_deployment_venv
*.so
*.nc

test_w_qubed
rust_venv
new_rust_test_venv
*.so
rust_deployment_venv
*.lock
**/target
**/build
_version.py
*.DS_Store
icon_grids
rust_venv
test_w_qubed
performance_plots_qubed
*.nc
**/*venv*
