decorator==5.1.1
numpy==1.23.5
pandas==1.5.2
pypi==2.1
requests==2.28.1
scipy==1.9.3
sortedcontainers==2.4.0
tripy==1.0.0
typing==3.7.4.3
xarray==2022.12.0

[tests]
pytest==7.2.0

[examples]
cfgrib==0.9.10.3
eccodes==1.5.0
h5netcdf==1.1.0
h5py==3.8.0
matplotlib==3.6.2
matplotlib-inline==0.1.6
Pillow==9.3.0
Shapely==1.8.5.post1
shp==1.0.2
Fiona==1.8.22
geopandas==0.12.2
plotly==5.11.0
pyshp==2.3.1
cffi==1.15.1