-r ../requirements.txt
-r ../tests/requirements_test.txt

matplotlib==3.6.2
matplotlib-inline==0.1.6
Pillow>=10.2.0
Shapely==1.8.5.post1
shp==1.0.2
Fiona==1.8.22
geopandas==0.12.2
plotly==5.11.0
pyshp==2.3.1
cfgrib==0.9.10.3