name: cd

on:
  push:
    tags:
      - '**'

jobs:
  pypi_binwheels:
    uses: ecmwf/reusable-workflows/.github/workflows/cd-pypi-binwheel.yml@v2
    secrets: inherit
    with:
      platforms: "['ubuntu-latest','macos-latest']"
      pyversions: "['38','39','310','311','312']"
      env_vars: |
        {
          "USE_RUST": "1",
          "SETUPTOOLS_RUST_CARGO_PROFILE": "release"
        }

  pypi_purepython:
    needs: pypi_binwheels
    uses: ecmwf/reusable-workflows/.github/workflows/cd-pypi.yml@v2
    secrets: inherit
    with:
      env_vars: |
        {
          "USE_RUST": "0",
          "SETUPTOOLS_RUST_CARGO_PROFILE": "release"
        }
